.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 9vw;
    height: 10vh;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 20px;
}

.input {
    display: flex;
    width: 9vh;
    height: 4vh;
    border: none;
    border-radius: 10px;
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
    text-align: center;
    background: #f5f5f5;
    color: #333;
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(52, 51, 51, 0.651);
    transition: box-shadow 0.3s;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    width: 10vw;
    height: 5vh;
    background-color: #ca1616;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.651);
    font-family: 'Verdana', sans-serif;
    font-size: 0.98rem;
    border: 3px solid #000000;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}
